@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  /* Catppuccin Latte (Light Theme) */
  --background: oklch(0.96 0.014 105.37); /* base */
  --foreground: oklch(0.46 0.041 265.75); /* text */
  --card: oklch(0.92 0.013 267.89); /* surface0 */
  --card-foreground: oklch(0.46 0.041 265.75); /* text */
  --popover: oklch(0.92 0.013 267.89); /* surface0 */
  --popover-foreground: oklch(0.46 0.041 265.75); /* text */
  --primary: oklch(0.55 0.201 267.89); /* lavender */
  --primary-foreground: oklch(0.96 0.014 105.37); /* base */
  --secondary: oklch(0.87 0.022 267.89); /* surface1 */
  --secondary-foreground: oklch(0.59 0.068 265.75); /* subtext0 */
  --muted: oklch(0.87 0.022 267.89); /* surface1 */
  --muted-foreground: oklch(0.69 0.054 265.75); /* subtext1 */
  --accent: oklch(0.74 0.167 267.89); /* mauve */
  --accent-foreground: oklch(0.96 0.014 105.37); /* base */
  --destructive: oklch(0.64 0.204 15.71); /* red */
  --border: oklch(0.82 0.031 267.89); /* surface2 */
  --input: oklch(0.82 0.031 267.89); /* surface2 */
  --ring: oklch(0.55 0.201 267.89); /* lavender */
  --chart-1: oklch(0.64 0.204 15.71); /* red */
  --chart-2: oklch(0.69 0.169 30.32); /* peach */
  --chart-3: oklch(0.74 0.167 267.89); /* mauve */
  --chart-4: oklch(0.82 0.114 142.69); /* green */
  --chart-5: oklch(0.76 0.196 267.89); /* blue */
  --sidebar: oklch(0.92 0.013 267.89); /* surface0 */
  --sidebar-foreground: oklch(0.46 0.041 265.75); /* text */
  --sidebar-primary: oklch(0.55 0.201 267.89); /* lavender */
  --sidebar-primary-foreground: oklch(0.96 0.014 105.37); /* base */
  --sidebar-accent: oklch(0.87 0.022 267.89); /* surface1 */
  --sidebar-accent-foreground: oklch(0.59 0.068 265.75); /* subtext0 */
  --sidebar-border: oklch(0.82 0.031 267.89); /* surface2 */
  --sidebar-ring: oklch(0.55 0.201 267.89); /* lavender */
}

.dark {
  /*  Mocha (Dark Theme) */
  --background: oklch(0.23 0.021 264.7); /* base */
  --foreground: oklch(0.89 0.016 267.89); /* text */
  --card: oklch(0.3 0.026 264.7); /* surface0 */
  --card-foreground: oklch(0.89 0.016 267.89); /* text */
  --popover: oklch(0.3 0.026 264.7); /* surface0 */
  --popover-foreground: oklch(0.89 0.016 267.89); /* text */
  --primary: oklch(0.75 0.138 267.89); /* lavender */
  --primary-foreground: oklch(0.23 0.021 264.7); /* base */
  --secondary: oklch(0.37 0.032 264.7); /* surface1 */
  --secondary-foreground: oklch(0.73 0.053 267.89); /* subtext0 */
  --muted: oklch(0.37 0.032 264.7); /* surface1 */
  --muted-foreground: oklch(0.81 0.034 267.89); /* subtext1 */
  --accent: oklch(0.68 0.174 267.89); /* mauve */
  --accent-foreground: oklch(0.23 0.021 264.7); /* base */
  --destructive: oklch(0.68 0.204 15.71); /* red */
  --border: oklch(0.44 0.037 264.7); /* surface2 */
  --input: oklch(0.44 0.037 264.7); /* surface2 */
  --ring: oklch(0.75 0.138 267.89); /* lavender */
  --chart-1: oklch(0.68 0.204 15.71); /* red */
  --chart-2: oklch(0.79 0.169 30.32); /* peach */
  --chart-3: oklch(0.68 0.174 267.89); /* mauve */
  --chart-4: oklch(0.77 0.114 142.69); /* green */
  --chart-5: oklch(0.74 0.196 267.89); /* blue */
  --sidebar: oklch(0.3 0.026 264.7); /* surface0 */
  --sidebar-foreground: oklch(0.89 0.016 267.89); /* text */
  --sidebar-primary: oklch(0.75 0.138 267.89); /* lavender */
  --sidebar-primary-foreground: oklch(0.23 0.021 264.7); /* base */
  --sidebar-accent: oklch(0.37 0.032 264.7); /* surface1 */
  --sidebar-accent-foreground: oklch(0.73 0.053 267.89); /* subtext0 */
  --sidebar-border: oklch(0.44 0.037 264.7); /* surface2 */
  --sidebar-ring: oklch(0.75 0.138 267.89); /* lavender */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
